In [12]:
#Store the prices of items in a dictionary
price={"apple":10,"milk":42,"bread":30,"book":35,"pencil":12,"pen":18}
item_purchased = input('enter the item(comma-separated): ').split(',')
total_bill=0
for item in item_purchased:
  if item in price:
    quantity = int(input(f"enter quantity {item}: "))
    total_bill+= price[item] * quantity
  else:
    print(f'item is not found')
print("total bill:", total_bill)

enter the item(comma-separated): apple,pen
enter quantity apple: 9
enter quantity pen: 7
total bill: 216

In [6]:


# Store marks for 5 subjects in a list
mark=[int(input("enter mark for sub 1 : ")),
      int(input("enter mark for sub 2 : ")),
      int(input("enter mark for sub 3 : ")),
      int(input("enter mark for sub 4 : ")),
      int(input("enter mark for sub 5 : "))]
# calculate the average
average=sum(mark)/len(mark)
# determine the grade
if average>=90:
  grade="A"
elif average>=70:
  grade="B"
elif average>=50:
  grade="C"
elif average>=35:
  grade="D"
else:
  grade="F"
#display the average mark and grade
print("average : ",average)
print("grade : ",grade)

enter mark for sub 1 : 97
enter mark for sub 2 : 67
enter mark for sub 3 : 56
enter mark for sub 4 : 45
enter mark for sub 5 : 89
average :  70.8
grade :  B

In [17]:
#Use a list to store the available seats
seats=[1,2,3,4,5,6,7,8,9,10,11,12,12,13,14,15,16,17,18,19,20]
seat_no =int(input("enter seat_no to book:" ))
print("seat_no: ",seats)
if seat_no in seats:
    seats.remove(seat_no)
    print("seat is booked sucessfully")
    print("remaining seats:  ",seats)
else:
   print("seat is not available")
   print("remaining seats: ",seats)

enter seat_no to book:2
seat_no:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 13, 14, 15, 16, 17, 18, 19, 20]
seat is booked sucessfully
remaining seats:   [1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 13, 14, 15, 16, 17, 18, 19, 20]